body{
    margin: 0;
    padding: 0;
}
#na{
    display: flex;
    width: 100vw;
    height: 15%;
    flex-direction: column;
    background-color: rgb(80, 201, 223);
}
nav div a{
    text-decoration: none;
    color: white;
    padding:5px;
}
.division_nav{
    height: 33.3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0%;
    color: white;
}
.contenido{
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.nombre_ciudad{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;
}
.dias_clima{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.dia{
    background-color: rgb(255, 243, 243);
    width: 12%;
    height: 50%;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(0,0,0,1);
    border-radius: 10px;
    border: 3px solid rgb(228, 228, 228);
}
.ar{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ab{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dia img{
    height: 100%;
    width: 60%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer button{
    margin-left: 5%;
    background-color: orange;
    height: 70%;
    width: 5%;
}
#temucoo{
 display: none;
}
#puco{
    display: none;
}
#mede{
    display: none;
}
#brasil{
    display: none;
}
#puertom{
    display: none;
}